<% splitted_url = request.fullpath.split('/projects')
root_url = request.base_url+splitted_url[0]
dg,hg = @project.csys.calculate_graphs(root_url)
project_overview_content_dep = @project.csys.show_depgraphs_pr(dg)
project_overview_content_hie = @project.csys.show_hiegraphs_pr(hg)
 %>
<%= stylesheet_link_tag 'cosmosys', plugin: 'cosmosys' %> 
<div class="project-content">
  <button class="tablink" onclick="openIssueTab('Dependences', this, 'green')">Dependences</button>
  <button class="tablink" onclick="openIssueTab('Hyerarchy', this, 'green')" id="defaultOpenTab">Hyerarchy</button>
  <div id="Dependences" class="tabcontent">
    <%= textilizable(project_overview_content_dep) %>
  </div>
  <div id="Hyerarchy" class="tabcontent">
    <%= textilizable(project_overview_content_hie) %>
  </div>  
</div>
<%= javascript_include_tag 'cosmosys', :plugin => 'cosmosys' %>